
<div class="search-container">
<!----------------below is the form for search and creation.------------------------------------------------------------------> 
      <form class="search-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
           <span class="logo"  routerLink="/"><img src="../../../assets/images/BCB_FInal.jpg">Angular-VGDB</span>
           <input class="search-input" name="search" bgModel placeholder="search 500, 000+ games"/>
           <button class="search-button" color="primary">SEARCH</button>
      </form>
<!----------------------------------------------------------------------------------> 
</div>